<div class="browse-list-list__wrapper"> 
  <app-heading>Browse songs</app-heading>

  <form [formGroup]="filtersForm">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input formControlName="search" type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <nz-radio-group formControlName="sortProperty">
      <label nz-radio [nzValue]="sortProperty.alphabet">Alphabeticaly</label>
      <label nz-radio [nzValue]="sortProperty.numerative">Numeratively</label>
    </nz-radio-group>
    <i 
      *ngIf="searchOrderControl.value === sortOrder.descending" 
      nz-icon 
      nzType="up" 
      nzTheme="outline"
      (click)="setOrder(sortOrder.ascending)"
    ></i>
    <i 
      *ngIf="searchOrderControl.value === sortOrder.ascending" 
      nz-icon 
      nzType="down" 
      nzTheme="outline"
      (click)="setOrder(sortOrder.descending)"
    ></i>
  </form>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>

  <ul class="browse-list-list__list">
    <li 
      class="browse-list-list__item"
      *ngFor="let song of songs"
      (click)="onSelect(song.id)"
    >
      <div class="browse-list-list__item-left">
        <img class="browse-list-list__item-img" src="/assets/album.png" alt="picture" />
        <div class="browse-list-list__item-data">
          <p class="browse-list-list__item-data-title">{{ song.title }}</p>
          <p class="browse-list-list__item-data-author">{{ song.author.name + " " + song.author.lastName }}</p>
        </div>
      </div>
      <p class="browse-list-list__item-data-views">{{ song.views }}</p>
    </li>
  </ul>
</div>
