<div class="header__left">
  <img src="/assets/logo.png" class="header__left-logo" />
  <ul class="header__left-nav">
    <li class="header__left-nav-item">
      <a class="header__left-nav-link">Home</a>
    </li>
    <li class="header__left-nav-item">
      <a class="header__left-nav-link">Browse</a>
    </li>
    <li class="header__left-nav-item">
      <a class="header__left-nav-link">Authors</a>
    </li>
    <li class="header__left-nav-item">
      <a class="header__left-nav-link">Settings</a>
    </li>
  </ul>
</div>
<div>
  <i nz-icon nzType="left" nzTheme="outline"></i>
</div>
