// Brand (colors)
// --------------------------------
$color-primary: #fdfaff;
$color-secondary: #a23ae7;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #979797;
$color-dark-grey: #212121;
$color-light-grey: #e3e3e3;
